<nav class="sidebar">
    <ul class="list-unstyled">
        <h2 class="title">GAMES</h2>
        <li>
            <a class="nav-link" routerLink="/tic-tac-toe" routerLinkActive="active">Tic Tac Toe</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/connect-four" routerLinkActive="active">Connect Four</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/game-2048" routerLinkActive="active">Game 2048</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/hangman" routerLinkActive="active">Word Guess</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/mole" routerLinkActive="active">Whack a Mole</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/mole" routerLinkActive="active">Memory Match</a>
        </li>
    </ul>
</nav>
<div class="content"></div>