<nav class="sidebar">
    <ul class="list-unstyled">
        <li>
            <a routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/tic-tac-toe" routerLinkActive="active">Tic Tac Toe</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/connect-four" routerLinkActive="active">Connect Four</a>
        </li>
        
        <!-- Add more sidebar items as needed -->
    </ul>
</nav>
<div class="content">
    <!-- Your main content here -->
</div>