<div class="container d-flex align-items-center tic-tac-toe-container">
    <div class="row col-6">
        <div class="col text-center">
            <h1 class="text-dark">Tic Tac Toe</h1>
            <p class="lead">Play the classic game of Tic Tac Toe!</p>
        </div>

        <div class="board">
            <div *ngFor="let row of board; let i = index" class="row">
                <div *ngFor="let cell of row; let j = index" class="cell" (click)="makeMove(i, j)">
                    {{ cell }}
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-dark start-again-button" (click)="startNewGame()">Start New Game</button>

        <div *ngIf="winner !== null" class="winner-message">
            <h2 *ngIf="winner === 'Tie'">It's a tie!</h2>
            <h2 *ngIf="winner !== 'Tie'">Winner: {{ winner }}</h2>
        </div>
    </div>
    <div class="rules col-6">
        <span class="rules-text">
            <strong>Rules of Tic Tac Toe</strong>
            <hr>
            <ol>
                <li><strong>Objective:</strong> The game is played on a 3x3 grid. The objective is to be the first player to form a
                    horizontal, vertical, or diagonal line of three of your symbols (X or O) in a row.</li>
                <li><strong>Players:</strong> The game is typically played by two players, who take turns placing their symbol (X or O)
                    in an empty cell of the grid.</li>
                <li><strong>Starting the Game:</strong> The game starts with an empty grid.</li>
                <li><strong>Taking Turns:</strong> Players take turns alternately. The player using X usually goes first.</li>
                <li><strong>Placing Symbols:</strong> On your turn, you place your symbol (X or O) into an empty cell of the grid.</li>
                <li><strong>Winning:</strong> If a player succeeds in placing three of their symbols in a horizontal, vertical, or
                    diagonal row, that player wins the game.</li>
                <li><strong>Draw (Tie):</strong> If all cells are filled and no player has formed a winning line, the game is a draw
                    (tie).</li>
            </ol>
        </span>
    </div>
</div>