<div class="container d-flex align-items-center tic-tac-toe-container">
    <div class="row col-6">
        <div class="col text-center">
            <h1 class="text-dark">Tic Tac Toe</h1>
            <p class="lead">Play the classic game of Tic Tac Toe!</p>
        </div>

        <div class="board">
            <div *ngFor="let row of board; let i = index" class="row">
                <div *ngFor="let cell of row; let j = index" class="cell" (click)="makeMove(i, j)">
                    {{ cell }}
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-dark start-again-button" (click)="startNewGame()">Play Again</button>

        <div *ngIf="winner !== null" class="winner-message">
            <h2 *ngIf="winner === 'Tie'">It's a tie!</h2>
            <h2 *ngIf="winner !== 'Tie'">Winner: {{ winner }}</h2>
        </div>
    </div>
    <div class="rules col-6">
        <span class="rules-text">
            <strong>Rules of Tic Tac Toe</strong>
            <hr>
            <ol>
                <li>
                    <strong>Game Board:</strong> The game is played on a 3x3 grid.
                </li>
                <li>
                    <strong>Players:</strong> The game is played between two players. One player uses 'X' markers, and
                    the other player uses 'O' markers.
                </li>
                <li>
                    <strong>Objective:</strong> The objective of the game is to be the first player to form a
                    horizontal, vertical, or diagonal line of three markers (X's or O's) on the grid.
                </li>
                <li>
                    <strong>Turns:</strong> Players take turns placing their markers on empty cells of the grid.
                </li>
                <li>
                    <strong>Starting Player:</strong> The player using 'X' markers typically starts the game.
                </li>
                <li>
                    <strong>Gameplay:</strong> On their turn, each player places their marker ('X' or 'O') on an empty
                    cell of the grid. Players continue taking turns until one player wins or the game ends in a draw.
                </li>
                <li>
                    <strong>Winning:</strong> A player wins the game if they successfully create a line of three of
                    their markers (X's or O's) horizontally, vertically, or diagonally. The game ends immediately when a
                    player achieves this.
                </li>
                <li>
                    <strong>Draw:</strong> If all cells on the grid are filled with markers, and no player has formed a
                    line of three, the game ends in a draw.
                </li>
                <li>
                    <strong>Replay:</strong> After the game ends (either in a win or draw), players have the option to
                    replay the game if they wish to continue playing.
                </li>
            </ol>
        </span>
    </div>
</div>