

.container {
    margin-top: 120px;
  }
  
  .jumbotron {
    background-color: #333;
    color: #fff;
    padding: 60px;
    border-radius: 10px;
    background-image: url("https://img.freepik.com/premium-vector/rgb-hexagonal-background_11469-76.jpg");
    width: 100%;
  }
  
  .jumbotron h1 {
    font-size: 3em;
  }
  
  .jumbotron p {
    font-size: 1.2em;
  }
  
  .row {
    margin-top: 50px;
  }
  
  .btn-outline-primary {
    color: #fff;
    border-color: #fff;
  }
  
  .btn-outline-primary:hover {
    background-color: #fff;
    color: #333;
  }
  
  .col-md-4 {
    margin-bottom: 30px;
  }
  